body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color:rgb(153, 81, 158);
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .listing-details {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .description-text {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .price {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .contact {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
  }
  
  .back-link:hover {
    background-color: #333;
    color: white;
  }